[*.cs]

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = silent

# CA1200: Avoid using cref tags with a prefix
dotnet_diagnostic.CA1200.severity = warning

# CA1309: Use ordinal string comparison
dotnet_diagnostic.CA1309.severity = warning

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = warning
