[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CA1515: Because an application's API isn't typically referenced from outside the assembly, types can be made internal
dotnet_diagnostic.CA1515.severity = none

# CA1056: URI properties should not be strings
dotnet_diagnostic.CA1056.severity = none
