<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
>
	<!--
		For the next version update Version attribute on Product node and Id attribute with a new GUID.
		Do not use "*" in Id attribute as it will produce GUID automatically and MSI will install a new instance of the app for each build.
		Note the minor version part must be 4 digit number as the MSi does not support minor versions.
		To add new locale add new directory, component and file in it and add component id under Feature node.
	-->
	<Product Id="{6D1427FC-0FA1-412B-8D46-3B829E7A0D66}"
		UpgradeCode="d2d9ab38-631b-471d-b6c1-2c4f4391fe5e"
		Name="LogicCircuit"
		Version="2.17.1017"
		Manufacturer="LogicCircuit"
		Language="1033"
	>
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
		<Icon Id="icon" SourceFile="$(var.LogicCircuit.ProjectDir)Properties\LogicCircuit.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon"/>
		<Property Id="ARPHELPLINK" Value="http://www.logiccircuit.org/help.html"/>
		<Property Id="ARPURLINFOABOUT" Value="http://www.LogicCircuit.org/"/>
		<Property Id="ARPURLUPDATEINFO" Value="http://www.logiccircuit.org/download.html"/>
		<Property Id="ARPCOMMENTS" Value="LogicCircuit – is educational software for designing and simulating digital logic circuits"/>

		<PropertyRef Id="NETFRAMEWORK45"/>
		<Condition Message="This application requires Microsoft .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes" CompressionLevel ="high"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLFOLDER" Name="LogicCircuit">
					<Component Id="ApplicationComponent">
						<File Id="Application_exe" Source="$(var.LogicCircuit.TargetPath)" KeyPath="yes"/>
						<ProgId Id="RegFileExtention" Icon="Application_exe" IconIndex="0" Description="LogicCircuit Project file">
							<Extension Id="CircuitProject" ContentType="text/XML">
								<Verb Id="open" Command="Open" TargetFile="Application_exe" Argument='"%1"'/>
							</Extension>
						</ProgId>
					</Component>
					<Component Id="IronPython_dllComponent">
						<File Id="IronPython_dll" Source="$(var.LogicCircuit.TargetDir)IronPython.dll"/>
					</Component>
					<Component Id="IronPython_Modules_dllComponent">
						<File Id="IronPython_Modules_dll" Source="$(var.LogicCircuit.TargetDir)IronPython.Modules.dll"/>
					</Component>
					<Component Id="Microsoft_Dynamic_dllComponent">
						<File Id="Microsoft_Dynamic_dll" Source="$(var.LogicCircuit.TargetDir)Microsoft.Dynamic.dll"/>
					</Component>
					<Component Id="Microsoft_Scripting_dllComponent">
						<File Id="Microsoft_Scripting_dll" Source="$(var.LogicCircuit.TargetDir)Microsoft.Scripting.dll"/>
					</Component>
					<Component Id="Microsoft_Scripting_Metadata_dllComponent">
						<File Id="Microsoft_Scripting_Metadata_dll" Source="$(var.LogicCircuit.TargetDir)Microsoft.Scripting.Metadata.dll"/>
					</Component>
					<Directory Id="ar" Name="ar">
						<Component Id="arComponent">
							<File Id="ar" Source="$(var.LogicCircuit.TargetDir)ar\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="de" Name="de">
						<Component Id="deComponent">
							<File Id="de" Source="$(var.LogicCircuit.TargetDir)de\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="el" Name="el">
						<Component Id="elComponent">
							<File Id="el" Source="$(var.LogicCircuit.TargetDir)el\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="es" Name="es">
						<Component Id="esComponent">
							<File Id="es" Source="$(var.LogicCircuit.TargetDir)es\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="fa" Name="fa">
						<Component Id="faComponent">
							<File Id="fa" Source="$(var.LogicCircuit.TargetDir)fa\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="fr" Name="fr">
						<Component Id="frComponent">
							<File Id="fr" Source="$(var.LogicCircuit.TargetDir)fr\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="he" Name="he">
						<Component Id="heComponent">
							<File Id="he" Source="$(var.LogicCircuit.TargetDir)he\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="hu" Name="hu">
						<Component Id="huComponent">
							<File Id="hu" Source="$(var.LogicCircuit.TargetDir)hu\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="it" Name="it">
						<Component Id="itComponent">
							<File Id="it" Source="$(var.LogicCircuit.TargetDir)it\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="ja" Name="ja">
						<Component Id="jaComponent">
							<File Id="ja" Source="$(var.LogicCircuit.TargetDir)ja\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="ko" Name="ko">
						<Component Id="koComponent">
							<File Id="ko" Source="$(var.LogicCircuit.TargetDir)ko\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="lt" Name="lt">
						<Component Id="ltComponent">
							<File Id="lt" Source="$(var.LogicCircuit.TargetDir)lt\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="nl" Name="nl">
						<Component Id="nlComponent">
							<File Id="nl" Source="$(var.LogicCircuit.TargetDir)nl\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="pl" Name="pl">
						<Component Id="plComponent">
							<File Id="pl" Source="$(var.LogicCircuit.TargetDir)pl\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="pt_BR" Name="pt-BR">
						<Component Id="pt_BRComponent">
							<File Id="pt_BR" Source="$(var.LogicCircuit.TargetDir)pt-BR\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="pt_PT" Name="pt-PT">
						<Component Id="pt_PTComponent">
							<File Id="pt_PT" Source="$(var.LogicCircuit.TargetDir)pt-PT\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="ru" Name="ru">
						<Component Id="ruComponent">
							<File Id="ru" Source="$(var.LogicCircuit.TargetDir)ru\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="uk" Name="uk">
						<Component Id="ukComponent">
							<File Id="uk" Source="$(var.LogicCircuit.TargetDir)uk\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
					<Directory Id="zh_Hans" Name="zh-Hans">
						<Component Id="zh_HansComponent">
							<File Id="zh_Hans" Source="$(var.LogicCircuit.TargetDir)zh-Hans\$(var.LogicCircuit.TargetName).resources.dll"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="LogicCircuit">
					<Component Id="StartMenuShortcuts" Guid="970c0bb2-c7d0-45d7-abfa-7ec378858bc0">
						<Shortcut Id="StartMenuShortcut" Name="LogicCircuit" Description="LogicCircuit – is educational software for designing and simulating digital logic circuits"
							Target="[INSTALLFOLDER]LogicCircuit.exe"
						/>
						<RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
						<RegistryValue Root="HKCU" Key="Software\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<Feature Id="ProductFeature" Title="MyWpfApp" Level="1">
			<ComponentRef Id="ApplicationComponent"/>
			<ComponentRef Id="IronPython_dllComponent"/>
			<ComponentRef Id="IronPython_Modules_dllComponent"/>
			<ComponentRef Id="Microsoft_Dynamic_dllComponent"/>
			<ComponentRef Id="Microsoft_Scripting_dllComponent"/>
			<ComponentRef Id="Microsoft_Scripting_Metadata_dllComponent"/>
			<ComponentRef Id="arComponent"/>
			<ComponentRef Id="deComponent"/>
			<ComponentRef Id="elComponent"/>
			<ComponentRef Id="esComponent"/>
			<ComponentRef Id="faComponent"/>
			<ComponentRef Id="frComponent"/>
			<ComponentRef Id="heComponent"/>
			<ComponentRef Id="huComponent"/>
			<ComponentRef Id="itComponent"/>
			<ComponentRef Id="jaComponent"/>
			<ComponentRef Id="koComponent"/>
			<ComponentRef Id="ltComponent"/>
			<ComponentRef Id="nlComponent"/>
			<ComponentRef Id="plComponent"/>
			<ComponentRef Id="pt_BRComponent"/>
			<ComponentRef Id="pt_PTComponent"/>
			<ComponentRef Id="ruComponent"/>
			<ComponentRef Id="ukComponent"/>
			<ComponentRef Id="zh_HansComponent"/>
			<ComponentRef Id="StartMenuShortcuts"/>
		</Feature>

		<WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

		<UI Id="WixUI_InstallDir">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Segoe UI" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="InstallDir" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="DiskCostDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
			<Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Property Id="ARPNOMODIFY" Value="1" />
		</UI>

		<UIRef Id="WixUI_Common" />
	</Product>
</Wix>
