<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<!--
		For the next version update: LogicCircuitVersion variable and both ProductCode32 and ProductCode64 with a new GUIDs.
		Do not use "*" in Id attribute as it will produce GUID automatically and MSI will install a new instance of the app for each build.
		Note the minor version part must be 4 digit number as the MSi does not support minor versions.
	-->
	<?define LogicCircuitVersion=2.23.0429?>
	<?define ProductCode32={CF397BDD-8337-4F44-BB32-6EB1FD61B4AB}?>
	<?define ProductCode64={3DEE5BDE-C221-4D10-9E5D-C46881ED48AF}?>

	<?if $(var.Platform)=x86?>
		<?define ProductCode=$(var.ProductCode32)?>
		<?define ProgramFilesFolder=ProgramFilesFolder?>
		<?define Bitness=always32?>
		<?define PublishFolder=..\LogicCircuit\bin\Release_32\Publish?>
	<?else?>
		<?define ProductCode=$(var.ProductCode64) ?>
		<?define ProgramFilesFolder=ProgramFiles64Folder?>
		<?define Bitness=always64?>
		<?define PublishFolder=..\LogicCircuit\bin\Release_64\Publish?>
	<?endif?>

	<Package
		UpgradeCode="d2d9ab38-631b-471d-b6c1-2c4f4391fe5e"
		Name="LogicCircuit"
		Version="$(var.LogicCircuitVersion)"
		Manufacturer="LogicCircuit.org"
		Language="1033"
		InstallerVersion="300"
		ProductCode="$(var.ProductCode)"
		Compressed="yes"
		Scope="perMachine"
	>
		<Icon Id="icon" SourceFile="..\LogicCircuit\Properties\LogicCircuit.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon"/>
		<Property Id="ARPHELPLINK" Value="http://www.logiccircuit.org/help.html"/>
		<Property Id="ARPURLINFOABOUT" Value="http://www.LogicCircuit.org/"/>
		<Property Id="ARPURLUPDATEINFO" Value="http://www.logiccircuit.org/download.html"/>
		<Property Id="ARPCOMMENTS" Value="LogicCircuit – is educational software for designing and simulating digital logic circuits"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of LogicCircuit is already installed."/>
		<MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

		<Feature Id="ProductFeature" Title="LogicCircuit" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentRef Id="ApplicationComponent"/>
			<ComponentRef Id="StartMenuShortcuts"/>
		</Feature>

		<StandardDirectory Id="$(var.ProgramFilesFolder)">
			<Directory Id="INSTALLFOLDER" Name="LogicCircuit">
				<Component Id="ApplicationComponent" Guid="{94CCE67F-F9C0-4071-8724-A41D7A7627AD}" Bitness="$(var.Bitness)">
					<File Id="Application_exe" Source="$(var.PublishFolder)\LogicCircuit.exe" KeyPath="yes"/>
					<File Id="Application_pdb" Source="$(var.PublishFolder)\LogicCircuit.pdb"/>
					<File Id="License_txt" Source="..\License.txt"/>
					<File Id="D3DCompiler_47_cor3_dll" Source="$(var.PublishFolder)\D3DCompiler_47_cor3.dll"/>
					<File Id="PenImc_cor3_dll" Source="$(var.PublishFolder)\PenImc_cor3.dll"/>
					<File Id="PresentationNative_cor3_dll" Source="$(var.PublishFolder)\PresentationNative_cor3.dll"/>
					<File Id="vcruntime140_cor3_dll" Source="$(var.PublishFolder)\vcruntime140_cor3.dll"/>
					<File Id="wpfgfx_cor3_dll" Source="$(var.PublishFolder)\wpfgfx_cor3.dll"/>

					<ProgId Id="RegFileExtention" Icon="Application_exe" IconIndex="0" Description="LogicCircuit Project file">
						<Extension Id="CircuitProject" ContentType="text/XML">
							<Verb Id="open" Command="Open" TargetFile="Application_exe" Argument="&quot;%1&quot;"/>
						</Extension>
					</ProgId>
				</Component>
			</Directory>
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ProgramMenuDir" Name="LogicCircuit">
				<Component Id="StartMenuShortcuts" Guid="970c0bb2-c7d0-45d7-abfa-7ec378858bc0">
					<Shortcut Id="StartMenuShortcut" Name="LogicCircuit" Description="LogicCircuit – is educational software for designing and simulating digital logic circuits" Target="[INSTALLFOLDER]LogicCircuit.exe"/>
					<Shortcut Id="LicenseMenuShortcut" Name="License.txt" Description="MIT License" Target="[INSTALLFOLDER]License.txt"/>
					<RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
					<RegistryValue Root="HKCU" Key="Software\LogicCircuit" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				</Component>
			</Directory>
		</StandardDirectory>

		<WixVariable Id="WixUIBannerBmp" Value="Banner.bmp"/>
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp"/>
		<WixVariable Id="WixUISupportPerUser" Value="0"/>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
		<Property Id="WixAppFolder" Value="WixPerMachineFolder"/>

		<UI Id="WixUI_InstallDir">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="8"/>
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Segoe UI" Size="12"/>
			<TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="9" Bold="yes"/>

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
			<!--<Property Id="WixUI_Mode" Value="InstallDir"/>-->

			<DialogRef Id="BrowseDlg"/>
			<DialogRef Id="DiskCostDlg"/>
			<DialogRef Id="ErrorDlg"/>
			<DialogRef Id="FatalError"/>
			<DialogRef Id="FilesInUse"/>
			<DialogRef Id="MsiRMFilesInUse"/>
			<DialogRef Id="PrepareDlg"/>
			<DialogRef Id="ProgressDlg"/>
			<DialogRef Id="ResumeDlg"/>
			<DialogRef Id="UserExit"/>

			<Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3"/>
			<Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;"/>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999"/>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="NOT Installed"/>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH"/>

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"/>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1"/>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2" Condition="NOT WIXUI_DONTVALIDATEPATH"/>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;"/>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4" Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;"/>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1"/>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2"/>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1" Condition="NOT Installed"/>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH"/>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH"/>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg"/>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg"/>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg"/>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg"/>

			<Property Id="ARPNOMODIFY" Value="1"/>
		</UI>

		<UIRef Id="WixUI_Common"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
	</Package>
</Wix>
